<script src="/hooks/rtsp/js/jsmpeg.min.js"></script>
<div class="box box-primary" data-ng-controller="RtspBoxCtrl as vm" ng-init="vm.init(<%= boxId %>);">
    <div class="box-header with-border">
        <i class="fa fa-camera"></i>
        <h3 class="box-title">
            <%= __('box-camera-title') %>
        </h3>
        <i class="close fa fa-gear" data-toggle="collapse" href="#rtsp_url" aria-expanded="true"></i>
    </div>
    <div id="rtsp_url" class="panel-collapse collapse" aria-expanded="true">
        <div class="box-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="serverIp" class="col-sm-2 control-label">Server IP</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="serverIp" placeholder="192.168.1.33"
                            ng-model="vm.serverIp">
                    </div>
                    <label for="serverPort" class="col-sm-2 control-label">Server Port</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="serverPort" placeholder="8082"
                            ng-model="vm.serverPort">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cameraUrl" class="col-sm-2 control-label">Camera URL</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="cameraUrl" placeholder="rtsp://192.168.1.30/onvif1"
                            ng-model="vm.cameraUrl">
                    </div>
                    <label for="quality" class="col-sm-2 control-label">quality</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="quality" placeholder="5" ng-model="vm.quality">
                    </div>
                </div>
            </form>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right btn-flat" data-toggle="collapse" href="#rtsp_url"
                ng-click="vm.saveCameraUrl(vm.cameraUrl, vm.serverIp, vm.serverPort, vm.quality);"><%= __('box-camera-validate') %></button>
        </div>
    </div>
    <div class="box-body ng-cloak">
        <div id="div-video-canvas" element-resize style="background-color: #111;text-align: center;padding:10px"
            ng-show="vm.enterUrl === false" class="ng-cloak" on-load-callback="vm.load()" ng-loading="customer"
            ng-loading-not-found="Customer not found!">
            <canvas id="video-canvas"></canvas>
        </div>
    </div>
</div>